@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@500;600&family=Ubuntu+Mono&display=swap');

:root {
  --poppinsFont: 'Poppins', sans-serif;
  --notoSansJPFont: 'Noto Sans JP', sans-serif;
  --ubuntoMonoFont: 'Ubuntu Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-between;
}
